.ClassMainTable{
    display: flex;
    width: 100%;
    font-size: 2rem;

}

.listContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    flex-grow: 1;
    text-indent: 5%;
}
.likedH{

    background-color: lightgreen;
    margin: 0;
    border: 2px black solid;
    
}
.ghostsH{

    background-color: lightgray;
    margin: 0;
    border: 2px black solid;
}
.deslikedH{

    background-color: lightcoral;
    margin: 0;
    border: 2px black solid;
}
.halfH{
    background-color: lightyellow;
    margin: 0;
    border: 2px black solid;
}

.liked{

    background-color: lightgreen;
    height: 100%;
    
}
.ghosts{

    background-color: lightgray;
    height: 100%;
}
.desliked{

    background-color: lightcoral;
    height: 100%;
}
.half{

    background-color: lightyellow;
    height: 100%;
}
