
.listStyle{ 

    list-style-type: none;
    color: orange;

}

.listStyle > .lineStyle{
    
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;

    height: 2rem;
    width: 20rem;
    
    margin: 2px;
    border : 2px navy solid;
    border-radius: 50px;
    background-color: rgb(165, 243, 239);

    padding: 5px 0px;
    align-items: center;
    justify-content: center;
}

.listStyle > .lineStyle > .classLink{
    text-decoration: none;
}

.listStyle > .lineStyle :visited {
    color : navy;
}
.listStyle > .lineStyle :active {
    color : red;
}


