
body{
    height: 100%;
    height: 10vh;
}
.studentList{
    list-style-type: decimal;
    height: 10%;
}
.studentList > .studentItem{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;

    height: 3vh;
    min-height: 1rem;
    
    width: 20rem;
    min-width: 5rem;
    max-width: 15rem;
    
    margin: 5px;
    border : 2px navy solid;
    border-radius: 50px;
    background-color: var(--middle-blue);

    padding: 5px 0px;
    align-items: center;
    justify-content: space-between;
}
.studentList > .studentItem > .StudentEditButton{
    height: 80%;
    padding-left: 20%;

    border-radius: 0.9em;
    border-style: solid;
    border-width: 0.1em;
    outline: none;
    background-color: lightblue;
    background-image: url("/icons1/create-24px.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-self: flex-end;
}