
.ClassMainTable{
    display: flex;
    flex-wrap: wrap;
}


.GroupContainer{
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    align-items: flex-start;
    
    border: solid 2px black;
}

@media only screen and (max-width : 1000px){
    .GroupContainer{
        box-sizing: border-box;
        width: 50%;
        display: flex;
        flex-direction: column;
    
        flex-grow: 1;
    
        align-items: flex-start;
        
        border: solid 2px black;
    }
}

@media only screen and (max-width : 600px){
    .GroupContainer{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
    
        flex-grow: 1;
    
        align-items: flex-start;
        
        border: solid 2px black;
    }
}

.likedH{
    background-color: lightgreen;
    align-self: stretch;
    margin: 0px;
    padding: 0.3rem;
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    justify-content: center;
}
.ghostsH{
    background-color: lightgray;
    align-self: stretch;
    margin: 0px;
    padding: 0.3rem;
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    justify-content: center;
}
.deslikedH{
    background-color:lightcoral;
    align-self: stretch;
    margin: 0px;
    padding: 0.3rem;
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    justify-content: center;
}
.halfH{
    background-color: orange;
    align-self: stretch;
    margin: 0px;
    padding: 0.3rem;
    border-bottom: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    justify-content: center;
}

.liked{
    background-color: lightgreen;
    align-self: stretch;
    height: 100%;
}
.ghosts{
    background-color: lightgray;
    align-self: stretch;
    height: 100%;
}
.desliked{
    background-color: lightcoral;
    align-self: stretch;
    height: 100%;
}
.half{
    background-color: orange;
    align-self: stretch;
    height: 100%;
}

/*
.ClassMainTable{
    display: grid;
    grid-template-rows: 2;

    grid-template-columns:  repeat(4 1fr);

    font-size: 1rem;

    margin: 10px;
    column-gap: 3px;
    row-gap: 2px;

}
.likedH{
    grid-row: 1;
    grid-column: 1;
    background-color: lightgreen;
}
.ghostsH{
    grid-row: 1;
    grid-column: 2;
    background-color: lightgray;
}
.deslikedH{
    grid-row: 1;
    grid-column: 3;
    background-color: lightcoral
}
.halfH{
    grid-row: 1;
    grid-column: 4;
    background-color: lightyellow;
}

.liked{
    grid-row: 2;
    grid-column: 1;
    background-color: lightgreen;
}
.ghosts{
    grid-row: 2;
    grid-column: 2;
    background-color: lightgray;
}
.desliked{
    grid-row: 2;
    grid-column: 3;
    background-color: lightcoral
}
.half{
    grid-row: 2;
    grid-column: 4;
    background-color: lightyellow;
}
*/