
body{
    height: 100%;
    height: 10vh;
}
.studentList{
    
}
.studentList > .studentItem{
    display: flex;
    box-sizing: border-box;

    justify-content: space-between;
    align-content: center;
    
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;


    height: 3vh;
    min-height: 1rem;
    
    
    
    border : 2px navy solid;
    border-radius: 50px;
    background-color: var(--middle-blue);

    padding: 0px 0px;

    margin-bottom: 3px;


    
}
.studentList > .studentItem > .StudentLink{
    display: flex;
    text-decoration: none;
    width: 80%;
    height: 90%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5%;

    font-size: 80%;
}

.studentList > .studentItem > .StudentEditButton{
    
    
    width: 20%;
    height: 70%;
    

    justify-self: left;

    border-radius: 0.9em;
    border-style: solid;
    border-width: 0.1em;
    outline: none;
    background-color: lightblue;
    background-image: url("/icons1/create-24px.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}