:root{
    
    --burnt-sienna: #de6b48ff;
    --melon: #f4b9b2ff;
    --middle-yellow-red: #e5b181ff;
    --tea-green: #daedbdff;
    --middle-blue: #7dbbc3ff;
    --onyx: #3b3d40ff;
    --dim-gray: #636667ff;
    --spanish-gray: #909393ff;
    --silver-sand: #bdc0bfff;
    --platinum: #e9eceaff;
}

.topMenuBar {
    display: flex;

    background-color: gold;

    justify-content: flex-start;
    align-items: center;
   
    height: 7vh;
    max-height: 50px;
    min-height: 20px;

    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 5;

    border: var(--onyx);
    border-width: 3px;
    border-style: solid;
    
}


.topMenuBar > .topMenuItem {
    
    display: flex;
    text-align: center;

    height: 50%;
    width: 15%;

    border-radius: 50px;
    background-color: darkgreen;

    justify-content: center;
    align-items: center;

    text-decoration: none;

    font-size: 2.5vw;

    color:lightgray;
    padding: 0.5vw;

    margin-left: 1vw;

    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-name: topMenuLoadAnimation;
    

}

@keyframes topMenuLoadAnimation{
    from {height: 1% ;font-size:1vw;}
    to {height: 50%;font-size:2.5vw;}
}



.topMenuBar > .topMenuItem:hover{
    text-shadow: 0px 0px 5px darkblue ;
}






