

.StudnetInfoGrid{
    display: flex;
    width: 100%;
    font-size: 2rem;

    font-family: var(--appFont);
    font-weight: bold

}

.Container{
    display: flex;
    flex-direction: column;
    row-gap: 0;
    flex-grow: 1;
    text-indent: 5%;
}

.likeH{
    margin-bottom: 0;
    background-color: var(--lightgreen);
    border: 2px var(--black) solid;
}
.likeC{
    background-color: lightgray;
    height: 100%;
    border: 2px var(--black) solid;
    background-color: var(--lightgreen);
}
.LikeLike{
    background-color: var(--lightgreen);
}
.LikeLike::after{
    content: " ";
    margin-right: 5%;
    display: inline-block;
    background-image: url("/icons1/Smiley-Happy.svg");
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;  
}
.LikeNone{
    background-color: var(--lightgreen);
}
.LikeDislike{
    background-color: var(--lightgreen);
}
.LikeDislike::after{
    content: " ";
    margin-right: 5%;
    display: inline-block;
    background-image: url("/icons1/Smiley-Neutral.svg");
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;  
}


.dislikeH{
    margin-bottom: 0;
    background-color: var(--red2);
    border: 2px var(--black) solid;
}
.dislikeC{
    height: 100%;
    border: 2px var(--black) solid;
    background-color: var(--red2);
}
.DislikeLike{
    background-color: var(--red2);
    
}
.DislikeLike::after{
    content: " ";
    margin-right: 5%;
    display: inline-block;
    background-image: url("/icons1/Smiley-Neutral.svg");
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;  
}
.DislikeNone{
    background-color: var(--red2);
}
.DislikeDislike{
    background-color: var(--red2);  
}
.DislikeDislike::after{
    content: " ";
    margin-right: 5%;
    display: inline-block;
    background-image: url("/icons1/Smiley-Sad.svg");
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;  
}



.RlikeH{
    margin-bottom: 0;
    background-color: lightblue;
    border: 2px var(--black) solid;
}
.RlikeC{
    height: 100%;
    background-color: lightblue;
    border: 2px var(--black) solid;
}



.RdislikeH{
    margin-bottom: 0;
    background-color: pink;
    border: 2px var(--black) solid;
}
.RdislikeC{
    height: 100%;
    background-color: pink;
    border: 2px var(--black) solid;
}