
.body{

    font-family: var(--appFont);
}

.NameConatiner{
    display: flex;
    width: 100%;

    justify-content: center;
    
}
.NameLabel{
    display: block;
    
    

    font: var(--appFont);
    font-weight: bold;
    font-size: 2rem;

    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--black);
    margin: 0px;
    padding: 0px 10%;
}
.NameLabelEdit{
    display: block;
 
    text-align: center;

    font: var(--appFont);
    font-weight: bold;
    font-size: 2rem;

    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--black);
    margin: 0px;
    padding: 0px 10%;

    background-color:var(--red);
    width: 30ch;

}

.Container{
    display: flex;
    margin-top: 1vw;
    flex-grow: 1;
}
.Container2{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    flex-grow: 1;
}
.Header{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
.LikesNamesContainer{
    flex-grow: 1;


}
.LikesNamesContainer > .StudentNameBracket{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-family: var(--appFont);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    height: 2.5vw;
    min-height: 1.5rem; 
    border : 2px var(--black) solid;
    border-radius: 50px;
    background-color: var(--green);
    padding: 0px 1vw;
    margin: 0.3vw 1vw 0.3vw 1vw;
    list-style: none;
    
}

.DislikesNamesContainer{
    flex-grow: 1;


}
.DislikesNamesContainer > .StudentNameBracket{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-family: var(--appFont);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    height: 2.5vw;
    min-height: 1.5rem; 
    border : 2px var(--black) solid;
    border-radius: 50px;
    background-color: var(--red2);
    padding: 0px 1vw;
    margin: 0.3vw 1vw 0.3vw 1vw;
    list-style: none;
}

.StudentNameBracket > .editbutton{
    width: 20%;
    height: 70%;
    

    justify-self: left;
    margin: 2%;
    border-radius: 0.9em;
    border-style: solid;
    border-width: 0.1em;
    outline: none;
    background-color: lightblue;
    background-image: url("/icons1/create-24px.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.StudentNameBracket > .saveButton{
    width: 20%;
    height: 70%;
    

    justify-self: left;
    margin: 2%;
    border-radius: 0.9em;
    border-style: solid;
    border-width: 0.1em;
    outline: none;
    background-color: lightblue;
    background-image: url("/icons1/save-black-18dp.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.StudentNameBracket > .DeleteButton{
        width: 20%;
        height: 70%;
        
    
        justify-self: left;
        margin: 2%;
        border-radius: 0.9em;
        border-style: solid;
        border-width: 0.1em;
        outline: none;
        background-color: lightblue;
        background-image: url("/icons1/delete_outline-24px.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    
}



.StudentNameBracket > .StudentPicker{
    
    box-sizing: border-box;

    align-items: center;

    height: 80%;
    
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;

    
    margin-right: 2%;
    
    border : 2px navy solid;
    border-radius: 50px;
    background-color: var(--melon);
    padding: 0px 0px;

    margin-bottom: 3px;

    list-style: none;

}


li{
    list-style: none;
}



.CancelButton{
    height: 3vh;
    width: 50%;
    display: inline-flexbox;
    background-image: url("/icons1/delete_outline-24px.svg");
    background-repeat: no-repeat;
    
    background-position: left;

    background-color: lightcoral;

}



.CancelButton > .Text{
    font-size: calc(2vh*2vw);
}

.SaveButton{
    height: 3vh;
    width: 50%;
    display: inline-flexbox;
    background-image: url("/icons1/save-black-18dp.svg");
    background-repeat: no-repeat;
    
    background-position: left;
    background-color: lightgreen;
}



.SaveButton > .Text{
    font-size: calc(2vh*2vw);
}


