

.StudnetInfoGrid{
    display: flex;
    width: 100%;
    font-size: 2rem;

}

.Container{
    display: flex;
    flex-direction: column;
    row-gap: 0;
    flex-grow: 1;
    text-indent: 5%;
}

.likeH{
    margin-bottom: 0;
    background-color: lightgreen;
    border: 2px var(--black) solid;
}
.likeC{
    background-color: lightgray;
    height: 100%;
    border: 2px var(--black) solid;
}
.LikeLike{
    background-color: lightgreen;
}
.LikeLike::after{
    content: " ";
    display: inline-block;
    background-image: url("/icons1/create-24px.svg");
    background-size: cover;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    
}
.LikeNone{
    background-color: lightgray;
}
.LikeDislike{
    background-color: lightgoldenrodyellow;
}


.dislikeH{
    margin-bottom: 0;
    background-color: coral;
    border: 2px var(--black) solid;
}
.dislikeC{
    height: 100%;
    border: 2px var(--black) solid;
}
.DislikeLike{
    background-color: lightpink;
}
.DislikeNone{
    background-color: lightgray;
}
.DislikeDislike{
    background-color: red;
}



.RlikeH{
    margin-bottom: 0;
    background-color: lightblue;
    border: 2px var(--black) solid;
}
.RlikeC{
    height: 100%;
    background-color: lightblue;
    border: 2px var(--black) solid;
}



.RdislikeH{
    margin-bottom: 0;
    background-color: pink;
    border: 2px var(--black) solid;
}
.RdislikeC{
    height: 100%;
    background-color: pink;
    border: 2px var(--black) solid;
}