@import url("../cssFiles/Colors.module.css");





body{
    background-color: var(--pearl);
    direction: rtl;
    width: 100%;
    height: 100%;
}



.TopMenuBar{
    display: flex;
    justify-content: space-between;
    background-color: var(--lightblue);

    box-sizing: border-box;

    margin: 1% calc((100% - var(--defaultWidth)) / 2);

    width: var(--defaultWidth);
    height: calc(var(--defaultWidth) * 0.05);
    border-color: var(--black);
    border-style: solid;
    border-width: 1%;   
}
.ClassMenuItems{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 1%;
}
.MenuItem{
    box-sizing: border-box;
    display: flex;
    background-image: var(--menuButton);
    
    border-radius: 50px;

    width: 25%;
    height: 80%;
    align-self: center;
    justify-content: center;
    font-size: 2vw;

    text-decoration: none;

}


.MenuItem > .TextField{

    align-self: center;
    color:  hsla(317,90%,40%,1);
}
.MenuItem:hover {
    cursor: pointer;
    background-image: var(--menuButtonHover);

}



.Greeting{
    align-self: center;
    text-align: center;
    margin: 1%;
    font-size: 2vw;
    color: hsla(317,90%,40%,1);
}




